.nav-bar {
    align-items: center;
    background-color: #bbb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-item {
    cursor: pointer;
    padding: 20px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #ccc;
}